*.dll
*.vpk
*.gma
bin/*
garrysmod/cfg/*
garrysmod/gamemodes/sandbox/
garrysmod/addons/aaa_addon_vault/
garrysmod/gamemodes/base/
garrysmod/gamemodes/terrortown/
garrysmod/lua/
garrysmod/resource/
garrysmod/maps/
garrysmod/html/
garrysmod/scenes/
garrysmod/particles/
garrysmod/settings/
steamapps/
steam_cache2/
steam_cache/
sourceengine/
platform/
garrysmod/download/
ThirdPartyLegalNotices.txt
steam_appid.txt
garrysmod/sv.db
garrysmod/steam.inf
garrysmod/stats.txt
garrysmod/lights.rad
garrysmod/garrysmod.ver
garrysmod/GameState.txt
garrysmod/gameinfo.txt
garrysmod/downloadlists/gm_construct.lst
garrysmod/detail.vbsp
garrysmod/clientside_errors.txt
*.cache
*.mdmp
*.md
*.md
garrysmod/map.pack
garrysmod/data/ulx_logs/05-27-20.txt
garrysmod/data/nutscript/logs/05-28-20.txt
garrysmod/data/ulib/users.txt
garrysmod/data/ulx_logs/05-28-20.txt
garrysmod/data/nutscript/logs/06-01-20.txt
garrysmod/data/nutscript/logs/05-31-20.txt
garrysmod/data/ulib/users.txt
garrysmod/data/ulx_logs/05-31-20.txt
garrysmod/data/ulx_logs/06-01-20.txt
